*.jpg
*.jpeg
*.pth
*.tar
*.zip
*.ipynb-checkpoints
*.gif
*.png
*.xml
*.out
*.h5
*.sbatch
.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_store
.*.swp
**/__pycache__/**
.ipynb_checkpoints/
coco/
VOCdevkit/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
