*.jpg
*.jpeg
*.pth
*.tar
*.zip
.ipynb-checkpoints/
*.ipynb-checkpoints/
demos/.ipynb-checkpoints/
output/blackbox/
.github/ISSUE_TEMPLATE
*.gif
*.xml
*.h5
.nfs*
*.pyc
.dumbo.json
.DS_store
.*.swp
logs/
**/__pycache__/**
.ipynb_checkpoints/
datasets/
!models/detrex/detectron2/detectron2/data/datasets/
!models/detrex/detrex/data/datasets/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
demos/output/
.vscode
