*.jpg
*.jpeg
*.pth
*.tar
*.zip
*.ipynb-checkpoints
*.gif
*.png
*.xml
*.h5
*.sbatch
.nfs*
*.pyc
.dumbo.json
.DS_store
.*.swp
**/__pycache__/**
.ipynb_checkpoints/
datasets/coco/
datasets/VOCdevkit/
datasets/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
